<?xml version="1.0" ?>
<settings version="1">
    <section id="service.kodi.tts">
        <category help="" id="engine.tts" label="32001">
            <group id="1">
                <setting help="" id="gui.tts" label="32219" type="action">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>NotifyAll(service.kodi.tts,SETTINGS.BACKEND_GUI)</data>
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
        <!-- Advanced -->

        <category help="" id="advanced" label="32031">
            <group id="2">
                <setting help="" id="use_tmpfs.tts" label="32044" type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                 <setting help="" id="hint_text_on_startup.tts" label="32812" type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="extended_help_on_startup.tts" label="32813" type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="disable_broken_services.tts" label="32045"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="override_poll_interval.tts" label="32047"
                         type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="poll_interval.tts" label="32048"
                         type="integer">
                    <level>4</level>
                    <default>100</default>
                    <constraints>
                        <minimum>50</minimum>
                        <maximum>1000</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="cache_path.tts" label="32207"
                         type="path">
                    <level>4</level>
                    <default>special://userdata/addon_data/service.kodi.tts/cache</default>
                    <control format="path" type="button">
                        <heading>32208</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="cache_expiration_days.tts" label="32209"
                         type="integer">
                    <level>4</level>
                    <default>90</default>
                    <control format="integer" type="edit">
                        <heading>32210</heading>
                    </control>
                </setting>
               <!--  <setting help="" id="player_slave.tts" label="32178" type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting> -->
                <setting help="" id="volume.tts" label="123" type="integer">
                    <level>4</level>
                    <default>0</default>
                     <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="reader_on.tts" label="32032" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="auto_item_extra.tts" label="32033" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="auto_item_extra_delay.tts" label="32034"
                         type="integer">
                    <level>4</level>
                    <default>2</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>60</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="speak_list_count.tts" label="32035" type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="speak_background_progress.tts" label="32036"
                         type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="background_progress_interval.tts" label="32037"
                         type="integer">
                    <level>4</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>60</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="speak_background_progress_during_media.tts"
                         label="32038"
                         type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category help="" id="stuff" label="32031" visible="false">
            <group id="3">
                <setting help="" id="addons_MD5.tts" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="EXTERNAL_COMMAND.tts" label="32178"
                type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="gender.eSpeak" label="32178" type="string">
                    <level>4</level>
                    <default>female</default>
                    <control type="edit" format="string">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="language.eSpeak" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                 <setting help="" id="converter.eSpeak" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>lame</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="pipe.eSpeak" label="32178" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
                <setting help="" id="pitch.eSpeak" label="32178" type="integer">
                    <level>4</level>
                    <default>5</default>
                    <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="player.eSpeak" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                  <setting help="" id="player_mode.eSpeak" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>slave_file</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="voice.eSpeak" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="cache_speech.eSpeak" label="32178"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
                <setting help="" id="debug_log_level.tts" label="32178" type="integer">
                    <level>4</level>
                    <default>2</default>
                    <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="ttsd_port.tts" label="32178" type="integer">
                    <level>4</level>
                    <default>2</default>
                    <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="settings_last_changed.tts" label="32178"
                         type="integer">
                    <level>4</level>
                    <default>2</default>
                    <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="engine" label="32211" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>auto</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="ttsd_host.tts" label="32211" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="settings_digest.tts" label="32211" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="version.tts" label="32211" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>ab1.2.3.4</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="settings_being_configured.tts" label="32013"
                         type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
                <setting help="" id="speak_via_kodi" label="32013"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
                  <setting help="" id="channels.tts" label="32178" type="string">
                    <level>4</level>
                    <default>female</default>
                    <control type="edit" format="string">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>

                <setting help="" id="delay_voicing.tts" label="32178"
                         type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
                <setting help="" id="player.tts" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                 <setting help="" id="speed.tts" label="32178" type="integer">
                    <level>4</level>
                    <default>100</default>
                    <control type="edit" format="integer">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>

                <setting help="" id="language.google" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>en</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <!--
                <setting help="" id="pipe.google" label="32178" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting> -->

                <setting help="" id="player.google" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="api_key.google" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>abc</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                 <setting help="" id="player_mode.google" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>slave_file</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="voice.google" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>un-gb</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="cache_speech.google" label="32178"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>

                <!-- <setting help="" id="gender.no_engine" label="32178" type="string">
                    <level>4</level>
                    <default>female</default>
                    <control type="edit" format="string">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting> -->
                <setting help="" id="language.no_engine" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>en</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <!--
                <setting help="" id="pipe.no_engine" label="32178" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting> -->

                <setting help="" id="player.no_engine" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                 <setting help="" id="player_mode.no_engine" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>slave_file</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <!--
                <setting help="" id="voice.google" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>un-gb</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting> -->
                <setting help="" id="cache_speech.no_engine" label="32178"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>

                <setting help="" id="gender.powershell" label="32178" type="string">
                    <level>4</level>
                    <default>female</default>
                    <control type="edit" format="string">
                        <heading>32005</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="language.powershell" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>en</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <!--
                <setting help="" id="pipe.powershell" label="32178" type="boolean">
                    <level>4</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting> -->

                <setting help="" id="player.powershell" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="api_key.powershell" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>abc</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                 <setting help="" id="player_mode.powershell" label="32178" type="string">
                    <level>4</level>
                      <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>slave_file</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="voice.powershell" label="32178" type="string">
                    <level>4</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>un-gb</default>
                    <control type="edit" format="string">
                        <heading>32178</heading>
                    </control>
                    <visible>true</visible>
                </setting>
                <setting help="" id="cache_speech.powershell" label="32178"
                         type="boolean">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <visible>true</visible>
                </setting>
            </group>
        </category>
    </section>
</settings>
